[Unit]
Description=Daily apt upgrade and clean activities
After=apt-daily.timer

[Timer]
OnBootSec=15min
OnUnitActiveSec=1d
AccuracySec=1h
RandomizedDelaySec=30min

[Install]
WantedBy=timers.target
